<div class="datatable" [ngClass]="css" (wheel)="wheel($event)">
  <div #headerMiddle class="datatable-header datatable-header-middle" [scrollLeft]="scrollLeft" [style.left]="middleLeft + 'px'" [style.right]="(15 + rightWidth) + 'px'" >
    <div *ngFor="let c of middleColumnsInView" class="datatable-header-cell" [ngStyle]="{ left: c.left + 'px', width: c.layoutWidth + 'px' }" (click)="toggleSort(c.id, $event)"><ng-container *ngTemplateOutlet="c.headerTemplate ? c.headerTemplate : _defaultHeaderTpl; context: { $implicit: c, column: c, index: index+startColumnIndex, table: this }"></ng-container></div>
  </div>
  <div #headerLeft *ngIf="leftColumns" class="datatable-header datatable-header-left" [style.width]="leftWidth + 'px'">
    <div *ngFor="let c of leftColumns" class="datatable-header-cell" [ngStyle]="{ left: c.left + 'px', width: c.layoutWidth + 'px' }" (click)="toggleSort(c.id, $event)"><ng-container *ngTemplateOutlet="c.headerTemplate ? c.headerTemplate : _defaultHeaderTpl; context: { $implicit: c, column: c, index: index+startColumnIndex, table: this }"></ng-container></div>
  </div>
  <div #headerRight *ngIf="rightColumns" class="datatable-header datatable-header-right" [style.width]="rightWidth + 'px'">
    <div *ngFor="let c of rightColumns" class="datatable-header-cell" [ngStyle]="{ left: c.left + 'px', width: c.layoutWidth + 'px' }" (click)="toggleSort(c.id, $event)"><ng-container *ngTemplateOutlet="c.headerTemplate ? c.headerTemplate : _defaultHeaderTpl; context: { $implicit: c, column: c, index: index+startColumnIndex, table: this }"></ng-container></div>
  </div>
  <div *ngIf="scrollTop > 0" class="datatable-header-shadow"></div>
  <div class="datatable-vscroll-header"></div>
  <div #scroll class="datatable-body-middle" [style.top]="headerRowHeight + 'px'" [style.left]="middleLeft + 'px'" [style.right]="(15 + rightWidth) + 'px'" [scrollLeft]="scrollLeft">
    <div class="datatable-column" *ngFor="let c of middleColumnsInView" [ngClass]="{ 'datatable-column-first': first, 'datatable-column-last': last }" [ngStyle]="{ left: c.left + 'px', width: c.layoutWidth + 'px', top: viewTopOffset + 'px' }">
      <div class="datatable-cell" *ngFor="let row of rowsInView; let index=index" [ngClass]="{ 'odd': (startRowIndex+index)%2==1, 'even': (startRowIndex+index)%2==0 }">
        <ng-container *ngTemplateOutlet="_defaultTpl; context: { $implicit: row, row: row, column: c, index: startRowIndex+index }"></ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="leftColumns && !scrollLeftMost" class="datatable-body-left-shadow" [style.width]="(leftWidth-1) + 'px'">
  </div>
  <div *ngIf="leftColumns" class="datatable-body-left" [ngStyle]="{ top: headerRowHeight + 'px', width: leftWidth + 'px' }">
    <div class="datatable-column" *ngFor="let c of leftColumns" [ngClass]="{ 'datatable-column-first': first, 'datatable-column-last': last }" [ngStyle]="{ left: c.left + 'px', width: c.layoutWidth + 'px', top: viewTopOffset + 'px' }">
      <div class="datatable-cell" *ngFor="let row of rowsInView; let index=index" [ngClass]="{ 'odd': (startRowIndex+index)%2==1, 'even': (startRowIndex+index)%2==0 }">
        <ng-container *ngTemplateOutlet="_defaultTpl; context: { $implicit: row, row: row, column: c, index: startRowIndex+index }"></ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="rightColumns && !scrollRightMost" class="datatable-body-right-shadow" [style.width]="rightWidth + 'px'"></div>
  <div *ngIf="rightColumns" class="datatable-body-right" [style.top]="headerRowHeight + 'px'" [style.width]="rightWidth + 'px'">
    <div class="datatable-column" *ngFor="let c of rightColumns" [ngClass]="{ 'datatable-column-first': first, 'datatable-column-last': last }" [ngStyle]="{ left: c.left + 'px', width: c.layoutWidth + 'px', top: viewTopOffset + 'px' }">
      <div class="datatable-cell" *ngFor="let row of rowsInView; let index=index" [ngClass]="{ 'odd': (startRowIndex+index)%2==1, 'even': (startRowIndex+index)%2==0 }">
        <ng-container *ngTemplateOutlet="_defaultTpl; context: { $implicit: row, row: row, column: c, index: startRowIndex+index }"></ng-container>
      </div>
    </div>
  </div>
  <vx-vscrollbar #vscrollbar [top]="headerRowHeight" width="15" (scroll)="vscroll($event)"></vx-vscrollbar>
  <vx-hscrollbar #hscrollbar left="0" right="15" height="15" (scroll)="hscroll($event)"></vx-hscrollbar>
</div>
<ng-template #defaultHeaderTpl let-column>
  <div class="datatable-header-title">{{column.title}}</div>
  <div class="datatable-header-markers"><i *ngIf="column.filter" class="fa fa-filter datatable-icon" aria-hidden="true"></i> <i *ngIf="column.sort" class="fa datatable-icon" [ngClass]="{ 'fa-long-arrow-up': column.sort === 'asc', 'fa-long-arrow-down': column.sort === 'desc' }" aria-hidden="true"></i></div>
  <div class="datatable-header-control"><a href="javascript:void(0)"><i class="fa fa-chevron-down datatable-icon" aria-hidden="true"></i></a></div>
</ng-template>
<ng-template #defaultTpl let-row let-column="column">{{row[column.id]}}</ng-template>
