<vx-datatable [data]="data" [columns]="columns" class="dt">
<!--
  <vx-column id="col_1" title="Column 1" width="100"></vx-column>
  <vx-column id="col_2" title="Column 2" width="100"></vx-column>
  <vx-column id="col_3" title="Column 3" width="100"></vx-column>
  <vx-column id="col_4" title="Column 4" width="100"></vx-column>
  <vx-column id="col_5" title="Column 5" width="100"></vx-column>
  <vx-column id="col_6" title="Column 6" width="100"></vx-column>
  <vx-column id="col_7" title="Column 7" width="100"></vx-column>
  <vx-column id="col_8" title="Column 8" width="100"></vx-column>
  <vx-column id="col_9" title="Column 9" width="100"></vx-column>
  <vx-column id="col_10" title="Column 10" width="100"></vx-column>
  <vx-column id="col_11" title="Column 11" width="100"></vx-column>
  <vx-column id="col_12" title="Column 12" width="100"></vx-column>
  <vx-column id="col_13" title="Column 13" width="100"></vx-column>
  <vx-column id="col_14" title="Column 14" width="100"></vx-column>
  <vx-column id="col_15" title="Column 15" width="100"></vx-column>
  <vx-column id="col_16" title="Column 16" width="100"></vx-column>
  <vx-column id="col_17" title="Column 17" width="100"></vx-column>
  <vx-column id="col_18" title="Column 18" width="100"></vx-column>
  <vx-column id="col_19" title="Column 19" width="100"></vx-column>
  <vx-column id="col_20" title="Column 20" width="100"></vx-column>
-->
</vx-datatable>